@model IEnumerable<bridgestone.Models.carmake>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Backend.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.make)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.make)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.makeID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.makeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.makeID })
                </td>
            </tr>
        }
    </tbody>

</table>
